@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Livraria Online</h1>
    <p class="p-pgPrincipal">Projeto Web app construido  com<a href="https://docs.microsoft.com/aspnet/core"> ASP.NET Core</a>.</p>
</div>
